<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path_for('home') }}">Lingo</a>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{{ path_for('highscore.all') }}">Highscores</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary" href="{{ path_for('lingo.new_game') }}">New game</a>
        </li>
    </ul>
</nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer id="page-footer" class="bg-light p-5">
    <div>
        <h2>Lingo</h2>
    </div>
</footer>
</body>
</html>
