$theme-colors: (
        "primary": #f01034
);


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);

// fonts
$font-family: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// colors
$dark-gray: #333447; // for the Americans
$primary: #3742fa;
//$success: #74ff00;
//$primary: #f01034;
$background-main: #ebeced;

$theme-colors: (
        "primary": $primary,
  //"success": $success,
);


$container-max-widths: (
        sm: 840px,
        md: 920px,
        lg: 1200px,
        xl: 1300px
);


@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/bootstrap";
@import "layout";
@import "lingo";
