$lingo-letter-width: 70px;
$lingo-letter-height: 70px;

$lingo-wrong-position-offset: 5px;

$lingo-letter-font-size: 40px;

.lingo {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .lingo-row {
    @extend .my-2;
    display: flex;

    .lingo-text {
      @extend .mx-1;

      display: flex;
      text-transform: uppercase;
      font-size: $lingo-letter-font-size;
      font-weight: $font-weight-heavy;
      color: $white;
      width: $lingo-letter-width;
      height: $lingo-letter-height;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0px 1px 3px #8e8e8e;
      align-items: center;
      justify-content: center;

      &.lingo-correct {
        background-color: $danger;
      }

      &.lingo-wrong, &.lingo-wrong-position {
        background-color: $blue;
      }

      &.lingo-wrong-position .lingo-value {
        background-color: $warning;
        width: $lingo-letter-width - $lingo-wrong-position-offset;
        height: $lingo-letter-height - $lingo-wrong-position-offset;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
