{% extends "layouts/base.html.twig" %}

{% block content %}
    <a class="" href="{{ path_for('home') }}">
        <div class="text-center">
            <h1>
                Game does not exists
            </h1>
            <span class="btn btn-primary">Go back</span>
        </div>
    </a>
{% endblock content %}

