{% extends "layouts/base.html.twig" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Game ID</th>
            <th scope="col">Scores (aantal behaalde rondes)</th>
        </tr>
        </thead>
        <tbody>
        {% for game in game_highscores %}
            <tr>
                <th scope="row">{{ game.id }}</th>
                <td>{{ game.game_name }}</td>
                <td>{{ game.game_id }}</td>
                <td>{{ game.getScore() }}</td>
            </tr>
        {% else %}
            <tr>
                <td>
                    Nog geen highscores bekend.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

