{% extends "layouts/base.html.twig" %}

{% block content %}
    <div class="col-12">
        <h1>Lingo</h1>
        <p>Lingo game</p>
        <ul>
            <li><a href="{{ path_for('lingo.new_game') }}">New game</a></li>
            <li><a href="{{ path_for('highscore.all') }}">Highscores</a></li>
        </ul>
    </div>
{% endblock content %}

