{% extends "layouts/base.html.twig" %}

{% block content %}
    <div class="col-12">
        <h1>Round <span class="text-monospace">{{ game.getNumberOfRounds() }}</span></h1>
        <div class="lingo">

            {% for guess in game.getActiveRound().guesses %}
                <div class="lingo-row">
                    {% for lingo_result in guess.getLingoResult() %}
                        {% include "components/lingo-letter.html.twig" with {
                            lingo_result: lingo_result
                        } %}
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="lingo-row">
                {% for lingo_result in game.getActiveRound().getHint() %}
                    {% include "components/lingo-letter.html.twig" with {
                        lingo_result: lingo_result
                    } %}
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" value="Guess"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}

