{% extends "layouts/base.html.twig" %}

{% block content %}
    <div class="text-center">
        <h1>Game over</h1>
        <h3>Het woord was <b>{{ correct_word }}</b></h3>
        <h4>Je score is: <span class="text-monospace">{{ score }}</span></h4>
    </div>
{% endblock content %}

