{% set class_name = "" %}
{% if lingo_result.result == 0 %}
    {% set class_name = "lingo-correct" %}
{% elseif lingo_result.result == 1 %}
    {% set class_name = "lingo-wrong-position" %}
{% else %}
    {% set class_name = "lingo-wrong" %}
{% endif %}
<div class="{{ class_name }} lingo-text">
    <span class="lingo-value">{{ lingo_result.letter }}</span>
</div>
